#root {
	/* max-width: 1280px; */
	margin: 0 auto;
	/* padding: 2rem; */
	text-align: center;
}
/** Global styles */

:root {
	--cg: #2f4f4f; /* Green */
	--co: #e9967a; /* darkorange */
	--cw: #f8f8ff; /* ghostwhite */
	--cr: #8b0000; /* darkred */
	--cy: #bdb76b; /* darkyellow */
	--bs: 0 2px 4px rgba(0, 0, 0, 0.1);
}

* {
	/* Reset some default styles */
	margin: 0;
	padding: 0;
}

/* 
**********************************************************************
**********************************************************************
**********************************************************************
* Navbar 
**********************************************************************
**********************************************************************
**********************************************************************
*/

/*? nav container */
.nav-container {
	background-color: var(--cg);
	height: 100px;
	width: 100%;
	display: flex;
	/* flex-direction: row; */
	justify-content: space-around;
	align-items: center;
	position: fixed;
	z-index: 99999999999;
	top: 0;
}

/*? nav left */

.nav-container-left {
	flex: 1;
	background-color: var(--cg);
	height: 100%;
	border: solid var(--cw) 1px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-left {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 100px;
	background-color: var(--cr);
	border-radius: 50%;
}

.nav-left:hover {
	cursor: pointer;
}

/*? nav center */
.nav-container-center {
	background-color: var(--cr);
	/* width: 800px; */
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 2;
	border: solid var(--cw) 1px;
}

.nav-container-center ul {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.nav-container-center ul,
li,
h4 {
	margin: 0px;
	padding: 0px;
}

.nav-container-center ul li {
	list-style: none;
}

.nav-container-center li:hover {
	text-decoration: underline;
	cursor: pointer;
}

.nav-container-center li:active {
	color: var(--cg);
}

/*? nav right */
.nav-container-right {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
	height: 100%;
	border: var(--cw) solid 1px;
}

.nav-right {
	display: flex;
	justify-content: space-around;
	align-items: center;
	border: var(--cw) solid 1px;
	width: 70%;
	border-radius: 20px;
}

.LanguageIcon {
	/* color: yellow; */
	height: 50px;
	width: 50px;
}

.LanguageIcon:hover {
	cursor: pointer;
}

.nav-btn {
	width: 100px;
	height: 40px;
	border-radius: 15px;
	border: none;
	background: var(--cr);
}

.nav-btn:active {
	background-color: var(--co);
}

/* 
**********************************************************************
**********************************************************************
**********************************************************************
* Banner 
**********************************************************************
**********************************************************************
**********************************************************************
*/

/*? banner container */

.banner-container {
	background-color: var(--co);
	height: 1000px;
	margin-top: 100px;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
}

/*? banner title */
.banner-title {
	flex: 0.3;
	/* display: flex;
	max-width: 90%;
	height: 400px; */
	width: 80%;
	height: 100px;

	background-color: var(--cy);
	margin: 10px 0px;
}

/*? banner image */

.banner-image-container {
	background-color: var(--cr);
	width: 80%;
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 2.5;
	margin: 10px 0px;
}

.banner-image {
	background-color: var(--cw);
	width: 95%;
	height: 100%;
}

/*? banner about */

.banner-about {
	flex: 2;
	width: 80%;
	height: 300px;
	background-color: var(--cg);
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 10px 0px;
}

.banner-description,
.banner-about-image {
	height: 90%;
	width: 45%;
	background-color: var(--cy);

	border: solid var(--cw) 1px;
}

/* 
**********************************************************************
**********************************************************************
**********************************************************************
* products and services
**********************************************************************
**********************************************************************
**********************************************************************
*/
/*? product-services-container */
.product-services-container {
	background-color: var(--cy);
	height: 1000px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
}
/* ? product-services title */

.products-services-title {
	background-color: var(--cr);
	width: 100%;
	height: 100px;
}

/* ? product-services bottom container */

.products-services-bottom-container {
	background-color: var(--cg);
	width: 100%;
	height: 600px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
}

.products-container,
.services-container {
	background-color: var(--co);
	width: 45%;
	height: 100%;
}

.products-container ul,
.services-container ul {
	background-color: var(--cr);
}

.products-container ul li,
.services-container ul li {
	border: solid var(--cw) 1px;
}

/* 
**********************************************************************
**********************************************************************
**********************************************************************
* Media queries
**********************************************************************
**********************************************************************
**********************************************************************
*/

@media (max-width: 768px) {
	/* styles for mobile devices */
	.nav-container {
	}
	.banner-container {
	}
	.product-services-container {
	}
}
