:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	/* font-size: 16px; */
	font-size: 16px;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--lr: #c8102e; /* logo-red*/
	--dr: #8c0c1f; /* Deep-Red */
	--kg: #d4a843; /* key-gold */
	--dg: #b8922a; /* dark-gold */
	--dgf: rgb(184, 146, 42, 0.6); /* dark-gold faded*/
	--lb: #1a1a1a; /* logo-black */
	--ch: #2b2b2b; /* Charcoal*/
	--mg: #3d3d3d; /* mid-gray*/
	--lg: ##f5f5f5; /* Light-Gray*/
	--wh: ##ffffff; /* white-*/
	--lbe: #065997 /* logo-blue*/ /* background-color: #242424; */ /* background-color: var(--lb); */ /* background-color: var(--lb); */;
}

/* body {
	margin: 0;
	place-items: center;
	min-width: 300px;
	min-height: 100vh;
}
 */

html,
body {
	width: 100%;
	max-width: 2560px;
	/* overflow-x: hidden; */
	/* scroll-behavior: smooth; */
	/* background-color: #242424; */
	/* background-color: var(--lr); */
}

html {
	/* scroll-behavior: smooth; */
	min-width: 100vw;
	/* overflow: hidden; */
	/* overflow-x: hidden; */
	/* font-size: 16px; */
}

body {
	margin: auto;
	min-height: 100%;
	height: 100vh;
	/* scroll-behavior: smooth; */
	/* overflow: hidden; */
	/* overflow-x: hidden; */
	/* background: #065997;
	background: -webkit-linear-gradient(150deg, rgba(6, 89, 151, 1) 20%, rgba(26, 26, 26, 1) 60%);
	background: -moz-linear-gradient(150deg, rgba(6, 89, 151, 1) 20%, rgba(26, 26, 26, 1) 60%);
	background: linear-gradient(150deg, rgba(6, 89, 151, 1) 20%, rgba(26, 26, 26, 1) 60%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#065997", endColorstr="#1A1A1A", GradientType=0); */
}

/* Thin scrollbar starting below the navbar */
::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	background: transparent;
	margin-top: 200px; /* matches nav height */
}

::-webkit-scrollbar-thumb {
	background-color: var(--mg);
	border-radius: 10px;
}

/* Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: var(--mg) transparent;
}
