:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-size: 16px;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* body {
	margin: 0;
	place-items: center;
	min-width: 300px;
	min-height: 100vh;
}
 */

html,
body {
	width: 100%;
	max-width: 2540px;
	/* overflow-x: hidden; */
	/* scroll-behavior: smooth; */
}

html {
	/* scroll-behavior: smooth; */
	min-width: 100vw;
	/* overflow: hidden; */
	/* overflow-x: hidden; */
	/* font-size: 16px; */
}

body {
	margin: auto;
	min-height: 100%;
	height: 100vh;
	/* scroll-behavior: smooth; */
	/* overflow: hidden; */
	/* overflow-x: hidden; */
}

/* Thin scrollbar starting below the navbar */
::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	background: transparent;
	margin-top: 200px; /* matches nav height */
}

::-webkit-scrollbar-thumb {
	background-color: var(--mg);
	border-radius: 10px;
}

/* Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: var(--mg) transparent;
}
