.footer-container {
	background-color: red;
	width: 100%;
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.footer-content-container {
	background-color: darkgreen;
	width: 80%;
	height: 90%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-radius: 10px;
}

/* useful-links-container */

.useful-links-container {
	width: 60%;
	background-color: aquamarine;
	height: 100%;
	display: flex;
	justify-content: space-around;
	border: solid white 1px;
	align-items: center;
	border-radius: 10px;
}

.links-container {
	border: solid white 1px;
	height: 90%;
	width: 250px;
	border-radius: 10px;
}

.schedule-container {
	width: 25%;
	background-color: blanchedalmond;
	height: 100%;
	border: solid white 1px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.schedule {
	width: 250px;
	height: 90%;
	border: solid white 1px;
	border-radius: 10%;
	background-color: blue;
}
